.filter__title {
  min-width: 100px;
}

.filter__label {
  display: flex;
  width: 100%;
}

.filter__select {
  flex: 1;
  padding: 3px 5px;

  font-size: 18px;

  border: 1px solid #333333;
  border-radius: 5px;
  border-radius: 7px;
}
